
/* .img{
    background-image: url('https://github.com/MSufyanpie/Portfolio/blob/9ec06c6eb64f3da069888501f4fc5c435e3749d0/src/assets/MuhammadSufyan_45102-5632695-1.png');
    background-size: cover;
    height: 112vh;
    opacity: 5;
    
  
  } */